body {
    font-family: 'PT Sans', 'Droid Serif';
    padding: 0;
    margin: 0;
    color: rgba(149, 165, 166,1.0);
}

.dimmed {
    position: relative;
    background: rgba(149, 165, 166, 0.3);
    background-size: cover;
}

.dimmed h3 {
    font-size: 4em;
    font-weight: lighter;
}

h4 {
    font-size: 2.5em;
}

canvas {
    display: block;
    vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    content: " ";
    z-index: 10;
}

.parallax-container {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.parallax-overlay {
    background-color: #ecf0f1;
    font-family: "brandon-grotesque", sans-serif;
    font-size: 2em;
}
.parallax-overlay h4 {
    font-size: 1.5em;
}

.text-white {
    color: rgba(236, 240, 241, 1.0) !important;
}


/* Custom Grid System */

.container-custom {
    margin: auto;
    padding: 30px 15%;
}