body {
    font-family: 'Poiret One', cursive ;
    padding: 0;
    margin: 0;
    color: rgba(149, 165, 166,1.0);
}

.dimmed {
    position: relative;
    background: rgba(149, 165, 166, 0.3);
    background-size: cover;
}

.dimmed h3 {
    font-size: 4em;
    font-weight: lighter;
}

h4 {
    font-size: 2.5em;
}

canvas {
    display: block;
    vertical-align: bottom;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Cinzel";
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    content: " ";
    z-index: 10;
}

.parallax-container {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.parallax-overlay {
    background-color: #ecf0f1;
    font-size: 2em;
}
.parallax-overlay h4 {
    font-size: 1.5em;
}

.text-white {
    color: rgba(236, 240, 241, 1.0) !important;
}


/* Custom Grid System */

.container-custom {
    margin: auto;
    padding: 30px 15%;
    clear: both;
}
.container-custom > .form-control {
    margin: 20px 0;
}
.right {
    float: right;
}
.work {
    height: 308px;
    margin: 15px auto;
    border-radius: 1% 19%;
    overflow: hidden;
}
.work img {
    display: block;
}
.on-hover{
    background: rgba(149, 165, 166, 0.3);
    text-decoration: none;
    position: relative;
    top: -308px;
    height: 100%;
    padding: 17% 0;
}
.on-hover .btn, .on-hover  h4{
    display: none;
    margin: 0 auto;
}
.on-hover:hover .btn, .on-hover:hover h4 {
    display: block;
    text-decoration: none;
}
.on-hover:hover {
    background: rgba(149, 165, 166, 0.6);
}
.btn-secondary{
    color:  rgba(236, 240, 241, 1.0);
    background: transparent;
    border: 1px solid rgba(236, 240, 241, 1.0);;
}
.parallax-overlay *, .parallax-overlay:hover * {
    background-color: transparent;
    color: rgba(236, 240, 241, 1.0) !important;
}
